.left,
.right {
    width: 100px;
    height: 100px;
    background-color: rgb(235, 231, 13);
    margin: 15px;
    border: 1px solid black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.center-block {
    width: 420px;
    height: 235px;
    margin: 0 auto;
    background-color: transparent;
}

.left4 {
    float: left;
    width: 210px;
    height: 233px;
    background-color: rgb(241, 245, 11);
    border: 1px solid black;
}

.right4 {
    width: 180px;
    height: 88px;
    float: right;
    background-color: yellow;
    border: 1px solid black;
    margin: 13px;
}

.center-block5 {
    float: right;
    width: 420px;
    height: 235px;
    margin: 0 auto;
    background-color: transparent;
    margin-right: 40px;
}

.right5 {
    width: 184px;
    height: 110px;
    float: right;
    background-color: yellow;
    border: 1px solid black;
    margin: 10px;
margin-top: 0px;}