.left,
.right {
    width: 100px;
    height: 100px;
    background-color: rgb(235, 231, 13);
    margin: 15px;
    border: 1px solid black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.center-block {
    width: 420px;
    height: 235px;
    margin: 0 auto;
    background-color: transparent;
}

.left4 {
    float: left;
    width: 210px;
    height: 212px;
    background-color: rgb(241, 245, 11);
    border: 1px solid black;
    margin: 17px;
}

.right4 {
    width: 147px;
    height: 73px;
    float: right;
    background-color: yellow;
    border: 1px solid black;
    margin: 12px;
    margin-top: 28px;
}

.center-block5 {
    float: right;
    width: 420px;
    height: 235px;
    margin: 0 auto;
    background-color: transparent;
    margin-right: 40px;
}

.right5 {
    width: 188px;
    height: 100px;
    float: right;
    background-color: yellow;
    border: 1px solid black;
    margin: -8px;
    margin-top: 17px;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
    width: 100%;
    border: 1px solid black;
    margin: 5px;
}