body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.64;
    color: #000;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.bg-primary {
    background-color:#EEEFF1;
}

.bg-accent {
    background-color:#34547A;;
}

header {
    left: 0;
    top: 0;
    width: 100%;
}

header nav {
    padding: 0 0 162px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 42px;
}

header nav ul li:not(:last-child) {
    margin-right: 42px;
}

header nav ul li a {
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

header nav ul li.active a{
    color: #34547A;
}

header {
    margin-top: 0px;
    padding: 60px 0;   
}

header h1 {
    font-weight: 500;
    font-size: 48px;
    width: 541px;
    height: 45px;
    left: 399px;
    top: 257px;
}

header .description {
    color: #727272;
    margin: 60px 0;
    width: 540px;
}

header button {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    letter-spacing: 0.1em;
    color: white;
    background: #34547A;
    text-decoration: none;
    text-transform: uppercase;
}

.about {
    padding: 100px 0;
    text-align: center;
}

.about h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.about .description {
    color: #727272;
    width: 540px;
    margin: 50px auto 0;
}

.projects {
    padding: 100px 0;
}

.projects ul {
    list-style: none;
    text-align: center;
}

.projects ul li {
    display: inline-block;
}

.projects ul li:not(:last-child) {
    margin-right: 35px;
}

.projects ul li img {
    width: 50px;
    height: 50px;
    float: left;
}

.projects ul li h3{
    margin-left: 20px;
    float: right;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.projects ul li h3 .count {
    text-align: left;
    display: block;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.works {
    padding: 100px 0;
}

.works h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;

}

.works .description {
    width: 540px;
    text-align: center;
    color: #727272;
    margin: 50px auto;
}

.works .video {
    position: relative;
}

.works .video .video-bg {
    height: 600px;
    left: 405px;
    top: 1613px;
    width: 1110px;
}

.works .video button {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
}


footer {
    padding: 50px 0;
    color: #FFF;
}

footer h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

footer p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 21px;
}