.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 10%;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

span:hover{
    opacity: 0.7;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active:hover{
    color: white;
}

h1 {
    color: orange;
}

header div {
    color: orange;
}

footer div{
    color: red;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}