body {
    font-family: Graphik LCG;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 25px;
    margin-left: 93px;
}
.nav-menu-header {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: -652px;
}

.nav-menu-header li {
    font-family: Graphik LCG;
    list-style-type: none;
    margin-right: 51px;
}

.nav-menu-header li a {
    text-decoration: none;
    color: #000000;
}

.btn-header {
    margin-top: 16px;
}

.btn-1 {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 7px;
}

.btn-1 a {
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-decoration: none;
    color: #000000;
}

.btn-2 {
    width: 120px;
    height: 45px;
    background: #FF6336;
    border-radius: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn-2 a {
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-decoration: none;
    color: #FFFFFF;
}

.header-hr {
    border: 1px solid #E5E5E5;
}

.promo {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
}

.promo-title {
    height: 210px;
    width: 552px;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    padding-bottom: 26px;
}

.description-promo {
    height: 140px;
    width: 481px;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}

.block-1 {
    margin-top: 131px;
}

.block-2 {
    padding-right: 159px;
}

.promobanner {
    margin-top: 153px;
    padding-left: -56px;
    margin-right: 300;
    margin-left: 122px;
}

.btn-promo {
    margin-top: 50px;
}

.btn-promo-1{
    height: 60px;
    width: 160px;
    background: #FF6336;
    border-radius: 0px;
    margin-right: 5px;
}

.btn-promo-2 {
    height: 60px;
    width: 160px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 0px;
    padding-top: -2px;
}

.btn-promo-1 a {
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
    color: #FFFFFF;
}

.btn-promo-2 a {
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
    color: #000000;
}

.description-promo-btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
}

.localization {
    margin-top: 172px;
    width: 100%;
    height: 455px;
    background: #FF9C7D;
}

.loca-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    padding-top: 109px;
}

.img-loca {
    display: flex;
    justify-content: space-evenly;
    padding-top: 28px;
}

.specialized {
    margin-top: -5px;
}

.yelp {
    margin-top: -17px;
}

.virgin {
    margin-top: -11px;
}

.control-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    height: 120px;
    width: 493px;
    padding-bottom: 30px;
}

.control-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 120px;
    width: 491px;
}

.control {
    display: flex;
    justify-content: space-between;
}

.block-control-1 {
    margin-left: 75px;
    margin-top: 241px;
}

.control-logo {
    margin-right: 75px;
    margin-top: 90px;
}

.tasks {
    color: #000000;
}

.start p {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 30px;
}

.market {
    display: flex;
    justify-content: space-between;
}

.market a {
    color: #000000;
}

.title-market {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    height: 120px;
    width: 379px;
    padding-bottom: 30px;
}

.market-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 150px;
    width: 450px;
}

.block-market-1 {
    margin-left: 75px;
    margin-top: 200px;
}

.block-market-2 {
    margin-right: 75px;
    margin-top: 401px;
}

.block-market-2 p {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 36px;
} 

.ensurequality {
    display: flex;
    justify-content: space-between;
}

.ensurequality a{
    color: #000000;
}

.ensurequality-block-1 {
    margin-left: 75px;
    margin-top: 411px;
}

.start-now {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 35px;
}

.ensurequality-block-2 {
    margin-top: 237px;
    margin-right: 75px;
    margin-left: 2;
}

.ensurequality-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    height: 60px;
    width: 397px;
    padding-bottom: 30px;
}

.ensurequality-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 150px;
    width: 520px;
}

.developers {
    display: flex;
    justify-content: space-between;
}

.developers-block-1 {
    margin-left: 75px;
    margin-top: 236px;
}

.developers-block-2 {
    margin-top: 371px;
    margin-right: 75px;
}

.developers-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    height: 120px;
    width: 348px;
}

.developers-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 120px;
    width: 520px;
}

.developers a{
    color: #000000;
}

.more-info {
    margin-top: 150px;height: 1033px;
    width: 100%;
    background: #FFF8E4;
}

.title-info {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    padding-top: 130px;
    margin-bottom: 79px;
}

.blocks-more-info {
    display: flex;
    justify-content: space-between;
}

.row-1 {
    margin-left: 129px;
}

.row-3 {
    margin-right: 129px;
}

.title-row-1-1 {
    height: 35px;
    width: 120px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 20px;
    margin-left: 220px;
}

.description-row-1-1 {
    height: 75px;
    width: 303px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 129px;
}

.title-row-1-2 {
    height: 35px;
    width: 142px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-left: 220px;
    margin-bottom: 20px;
}

.description-row-1-2 {
    height: 50px;
    width: 309px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 129px;
}

.title-row-2-1 {
    height: 35px;
    width: 165px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.description-row-2-1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.title-row-2-2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-left: 43px;
    margin-bottom: 23px;
}

.description-row-2-2 {
    height: 75px;
    width: 310px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    align-items: center;
}

.title-row-3-1 {
    height: 35px;
    width: 91px;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-left: 69px;
    margin-bottom: 25px;
}

.description-row-3-1 {
    height: 75px;
    width: 281px;
    align-items: center;
    margin-bottom: -5px;
}

.title-row-3-2 {
    height: 35px;
    width: 54px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 130px;
    margin-bottom: 23px;
}

.description-row-3-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    height: 50px;
    width: 326px;
    align-items: center;
}

.webapps-img {
    margin-left: 200px;
    margin-bottom: 23px;
}

.documents-img {
    margin-left: 200px;
    margin-bottom: 26px;
}

.mobileapps-img {
    margin-left: 81px;
    margin-bottom: 21px;
}

.marketing-img {
    margin-left: 87px;
    margin-bottom: 23px;
}

.games-img {
    margin-left: 30px;
    margin-bottom: 23px;
}

.iot-img {
    margin-left: 64px;
    margin-bottom: 23px;
}

.iot-games-documents {
    margin-top: 75px;
}

/* .productivity {

} */

.productivity-title {
    height: 60px;
    width: 1287px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 325px;
    padding-top: 154px;
}

.blocks-productivity {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.title-productivity-1 {
    height: 40px;
    width: 164px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 49px;
    padding-bottom: 34px;
}

.description-productivity-1 {
    height: 180px;
    width: 409px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}

.title-productivity-2 {
    height: 40px;
    width: 168px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 67px;
    padding-bottom: 48px;
}

.description-productivity-2 {
    height: 180px;
    width: 409px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 26px;
}

.title-productivity-3 {
    height: 40px;
    width: 166px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 58px;
    padding-bottom: 34px;
}

.description-productivity-3 {
    height: 210px;
    width: 407px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}

.blocks-productivity-1 {
    margin-left: 75px;
}

.blocks-productivity-3 {
    margin-right: 78px;
}

.productivity-a-1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}

.productivity-a-2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}

.productivity-a-3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}

.block-revolut {
    display: flex;
    justify-content: space-between;
    height: 468px;
    width: 100%;
    background: #C9E8F2;
    margin-top: 187px;
}

.description-revolut {
    height: 160px;
    width: 920.7018432617188px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 23px;
}

.block-revolut-1 {
    margin-left: 75px;
    padding-top: 63px;
}

.block-revolut-2 {
    padding-top: 53px;
    margin-right: 75px;
}

.title-revolut {
    padding-top: 6.99px;
}

.management {
    width: 100%;
    height: 332px;
    background: #DABC98;
}

.title-management-1 {
    height: 100px;
    width: 461px;
    left: 223px;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
}

.blocks-management {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
}

.block-management-1 {
    margin-left: 54px;
}

.block-management-2 {
    display: flex;
    padding-top: 50px;
    margin-right: 137px;
}

.img-group2 {
    margin-right: 70px;
}

.hr-management {
    height: 168px;
    border: 1px solid #000000;
}

.processes {
    display: flex;
    justify-content: center;
}

.block-processes {
    margin-top: 165px;
}

.processes button {
    height: 60px;
    width: 193px;
    background: #FF6336;
    margin-top: 32px;
}

.title-processes {
    height: 150px;
    width: 791px;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    margin-left: 150px;
    padding-bottom: auto;
}

.description-processes {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
    align-items: center;
    margin-left: 100px;
}


.img-processes {
    padding-bottom: 20px;
    height: 445px;
    width: 1023px;
}

.button-processes {
    display: flex;
    justify-content: center;
}

.text-button-processes {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    color: #FFFFFF;
}

.wait {
    height: 603px;
    width: 100%;
    background: #FF9C7D;
    margin-top: 162px;
    display: flex;
    justify-content: center;
}

.title-wait {
    height: 150px;
    width: 1099px;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    padding-top: 119px;
}

.a-wait {
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
}

.a-wait a {
    text-decoration: none;
    color: #000000;
}

.p-wait {
    height: 30px;
    width: 438px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 407px;
}

.wait button {
    margin-top: 54px;
    height: 60px;
    width: 160px;
    background: #000000;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 531px;
}

.h1-footer{
    height: 50px;
    width: 257px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.p-footer {
    height: 90px;
    width: 290px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.a-footer {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
}

.specialized-footer {
    height: 32px;
    width: 80px;
    margin-top: 31px;
}

ul {
    list-style-type: none;
    margin-right: 112px;
}

.footer-nav {
    display: flex;
}

footer nav {
    display: flex;
    margin-top: 115px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 930px;
    background-color: #EEEEEE;
    margin-top: -32px;
}

.nav li {
    margin-top: 15px;
}

.nav li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #000000;
}

.title-footer {
    height: 25px;
    width: 79px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 21px;
    margin-bottom: 21px;}

.block-case-studies {
    margin-left: 75px;
    margin-top: 92px;
}

.footer-hr {
    width: 1729px;
    border: 1px solid #000000;
    padding-top: -101px;
    margin-top: -129px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info-p {
    height: 30px;
    width: 301px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-left: -1200px;
    margin-top: 49px;
}

.info-footer-right {
    margin-right: 75px;
}

.info-footer-right div {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 52px;
}

.logofooter {
    margin-left: 75px;
    margin-top: 52px;
}